<!DOCTYPE html> <!-- Document type declaration -->
<html lang="en"> <!-- Start of HTML document with language set to English -->
<head>
    <meta charset="UTF-8"> <!-- Character encoding set to UTF-8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Compatibility with Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design settings -->
    <title>Welcome to Holberton</title> <!-- Title of the document -->
</head>
<body>
    <h1>Hello world</h1> <!-- Main heading of the page -->
</body>
</html>